{% extends "base.html" %}

{% block start %}



<div class="col-6 card mx-auto p-3 shadow-lg my-4">
    <header class="text-dark text-center py-4 my-4">
        <h1>About Us</h1>
    </header>

    <div class="container">
        <section id="about-website">
            <h2 class="mb-3">About Our Website</h2>
            <p>
                Welcome to Deliciously Yours, where the art of cooking meets the joy of sharing. We are a passionate team of food enthusiasts dedicated to bringing you a world of culinary delights right at your fingertips.
                <br><br>
                At Deliciously Yours, we believe that a great meal is more than just nourishment; it's an experience, a memory, and an expression of love. Our mission is to inspire your culinary journey, whether you're a seasoned chef or just beginning your adventure in the kitchen.
                <br><br>
                We invite you to embark on a delightful culinary journey with us. Whether you're seeking quick weeknight dinner ideas, special occasion recipes, or just a little inspiration for your kitchen adventures, Deliciously Yours has something for you. We're excited to be part of your cooking experience and look forward to being your trusted culinary companion.
                <br><br>
                Feel free to explore our recipes, cooking tips, and join our food-loving community. Remember, every meal you prepare is a creation from the heart, and we're here to make it even more Deliciously Yours.
                <br><br>
                Thank you for being a part of our food-loving family!
                <br><br>
                Happy cooking,
                The Deliciously Yours Team
            </p>
        </section>
    </div>
    
    <footer class="my-4 text-center">
        <p>&copy; 2023 Recipe Website. All rights reserved.</p>
    </footer>
</div>


{% endblock %}