{% extends "base.html" %}

{% block start %}

    <div class="container">
        <div class="col-6 card mx-auto p-3 shadow-lg my-4">
            <h1 class="mt-5">Contact Us</h1>
            <p class="mb-5">Have a question or feedback? We'd love to hear from you!</p>
            

            <div class="row">
                    <h2>Contact Information</h2>
                    <p>
                        You can reach us via email or through our social media channels. We're always here to help you with your inquiries and feedback.
                    </p>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> contact@deliciouslyyours.com</li>
                        <li><strong>Facebook:</strong> <a href="https://www.facebook.com/deliciouslyyours" target="_blank">Facebook Page</a></li>
                        <li><strong>Twitter:</strong> <a href="https://twitter.com/deliciouslyyours" target="_blank">Twitter Profile</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}