{% extends "base.html" %}

{% block start %}

{{user.first_name}}

<style>
  .card {
      position: relative;
  }
</style>

{% comment %} Search Box here {% endcomment %}

<div class="mt-5">
  <div class="mx-auto col-6">
    <form class="form-control p-3 shadow-lg">
    <label for="searchFood" class="form-label">Search Food</label>
    <input name="searchFood" type="text" class="form-control">

    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>
  </div>
</div>



<div class="container my-4">
  <div class="row">
    {% for recipe in recipes %}
      <div class="col-md-4">
          <div class="card mb-4 h-100">
              <img src="../media/{{recipe.recipe_image}}" class="card-img-top" alt="Recipe Image" width="509" height="340">
              <div class="card-body">
                  <h5 class="card-title">{{recipe.recipe_name}}</h5>
                  <p class="card-text">{{recipe.recipe_desc}}</p>
                    <a href="/view-recipe/{{recipe.id}}" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}